<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% include 'head.html' %}
</head>

<body>
    <div id="root">
        <!-- navigation bar -->
        {% include 'nav_base.html' %}
    </div>
    <div class="raw">
        <div class="col-xs-10">
            <div class="page-header">
                <h1>
                    电表测试系统客户端程序
                    <small>下载</small>
                </h1>
                <br>
            </div>
            <div class="bugmanage-help-text">
                <p>
                    <font size=4>
                        &nbsp;&nbsp;&nbsp;&nbsp; 电表测试客户端软件&nbsp;&nbsp;v0.0.1
                        <a href="/static/download/电表测试客户端0.0.1.rar">单击下载</a>
                    </font>
                </p>
            </div>

        </div>
    </div>
</body>