<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>bug manage</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/custom.css" rel="stylesheet">
</head>

<body>
    <div id="root">
        <!-- navigation bar -->
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <font size="6">欢迎{{ username }}！</font>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/bug_manage/index/">
                                <font size="4">首页</font>
                            </a>
                        </li>
                        <li>
                            <a href="/bug_manage/manage/">
                                <font size="4">BUG管理</font>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <font size="4">使用教程</font>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <font size="4">软件下载</font>
                            </a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Bug Quick Search">
                        </div>
                        <button type="submit" class="btn btn-success">搜索</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="row">
            <!-- left page data -->
            <div class="col-xs-2 ">
                <ul class="nav nav-pills" role="tablist">

                    <li class="active">
                        <a href="#property" aria-controls="property" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-th-large" aria-hidden="true">方法</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#tool" aria-controls="tool" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-wrench" aria-hidden="true">步骤</span>
                        </a>
                    </li>

                    <li role="presentation">
                        <a href="#manage" aria-controls="manage" role="tab" data-toggle="tab">
                            <span class="glyphicon  glyphicon-folder-open" aria-hidden="true"> 任务</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="property">
                        <div class="bugmanage-scroll-edit">
                            <div class="list-group" id="bugmanage-func-list">
                                {% for func in func_list %}
                                <a href="#" class="list-group-item">{{ func.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tool">
                        <div class="bugmanage-scroll-edit">
                            <div class="list-group" id="bugmanage-step-list">
                                {% for step in step_list %}
                                <a href="#" class="list-group-item">{{ step.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="manage">
                        <div class="raw">
                            <div class="col-xs-8 col-xs-offset-4">

                            </div>
                            <div class="bugmanage-scroll-edit">
                                <div class="list-group" id="bugmanage-task-list">
                                    {% for bug in bug_list %}
                                    <a href="#" class="list-group-item">{{ bug.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- bug edit tool list -->

            </div>
            <div class="col-xs-6">
                <div class="bugmanage-scroll-editmain">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" id="show-bug-name">
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"> 设置任务</span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel">
                            <div class="panel-body" id="show-task-msg-text">
                                <div class="panel panel-default">
                                    <!-- Default panel contents -->
                                    <div class="panel-heading">
                                        <strong id="task-name"></strong>
                                    </div>
                                    <div class="panel-body">
                                        <p>
                                            <strong>创建者：</strong>
                                            <nobr id="task-founder"></nobr>
                                        </p>
                                        <p>
                                            <strong>创建日期：</strong>
                                            <nobr id="task-date"></nobr>
                                        </p>
                                        <br>
                                        <p>
                                            <strong>任务说明：</strong>
                                        </p>
                                        <nobr id="task-msg"></nobr>
                                    </div>
                                </div>
                                <div class="raw">
                                    <div class='col-xs-6'>
                                        <div class="input-group input-group">
                                            <span class="input-group-addon">任务名称</span>
                                            <input type="text" class="form-control" id="task-input-name">
                                        </div>
                                        <br>
                                        <div class="input-group input-group">
                                            <span class="input-group-addon">创建者</span>
                                            <input type="text" class="form-control" id="task-input-founder">
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label for="message-text" class="control-label">任务信息:</label>
                                            <textarea class="form-control" id="task-message-text"></textarea>
                                        </div>
                                    </div>
                                    <div class='col-xs-6'>
                                        <div class="input-group input-group">
                                            <span class="input-group-addon">步骤序号</span>

                                            <input type="text" class="form-control" id="task-input-num">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-success" id="add-task-logic-num">添加当前步骤</button>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <div class="raw">
                                            <div class="col-xs-8 col-xs-offset-2">
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-info" id="add-new-task-btn">新建</button>
                                                    <button type="button" class="btn btn-success" id="change-new-task-btn">修改</button>
                                                    <button type="button" class="btn btn-danger" id="del-new-task-btn">删除</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#set-single-action" aria-expanded="true">
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"> 设置单步操作</span>
                                </a>
                            </h4>
                        </div>
                        <div id="set-single-action" class="panel-collapse collapse " role="tabpanel">
                            <div class="panel-body" id='step-setting-panel'>
                                <div class="raw">
                                    <!-- the left step config -->

                                    <div class="col-xs-6">
                                        <div class="input-group input-group">
                                            <span class="input-group-addon">名称</span>
                                            <input type="text" class="form-control" id="step-name">
                                        </div>
                                        <br>
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">地址设置
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="#" id="before-addr">上一步地址</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" id="allaa-addr">全A地址</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" id="all11-addr">全1地址</a>
                                                    </li>
                                                    <li role="separator" class="divider"></li>
                                                    <li>
                                                        <a href="#" id="customer-addr">自定义地址</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- /btn-group -->
                                            <input type="text" class="form-control" id="step-address">
                                        </div>
                                        <br>
                                        <label for="name">选择帧头设置</label>
                                        <select class="form-control" id="step-select-fe">
                                            <option>不使用</option>
                                            <option>使用4个FE</option>
                                        </select>
                                        <br>
                                        <div class="input-group input-group">
                                            <span class="input-group-addon">发送延迟</span>
                                            <input type="text" class="form-control" id="set-send-delay">
                                            <span class="input-group-addon">接收延迟</span>
                                            <input type="text" class="form-control" id="set-read-delay">
                                        </div>
                                        <br>
                                        <label for="name">发送帧</label>
                                        <div class="well" id='set-frame-text'></div>
                                        <br>
                                        <label for="name">动作类型</label>
                                        <div class="well" id='func-id'></div>
                                        <div class="raw">
                                            <div class='col-xs-4 col-xs-offset-3'>
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-success" id="add-step-func">添加当前动作</button>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <div class="form-group">
                                            <label for="message-text" class="control-label">显示信息:</label>
                                            <textarea class="form-control" id="step-message-text"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="input-group input-group">
                                            <span class="input-group-addon">val0</span>
                                            <input type="text" class="form-control" id="val0">
                                            <span class="input-group-addon">val1</span>
                                            <input type="text" class="form-control" id="val1">
                                        </div>
                                        <div class="input-group input-group">
                                            <span class="input-group-addon">val2</span>
                                            <input type="text" class="form-control" id="val2">
                                            <span class="input-group-addon">val3</span>
                                            <input type="text" class="form-control" id="val3">
                                        </div>
                                        <div class="input-group input-group">
                                            <span class="input-group-addon">val4</span>
                                            <input type="text" class="form-control" id="val4">
                                            <span class="input-group-addon">val5</span>
                                            <input type="text" class="form-control" id="val5">
                                        </div>
                                        <div class="input-group input-group">
                                            <span class="input-group-addon">val6</span>
                                            <input type="text" class="form-control" id="val6">
                                            <span class="input-group-addon">val7</span>
                                            <input type="text" class="form-control" id="val7">
                                        </div>
                                        <div class="input-group input-group">
                                            <span class="input-group-addon">val8</span>
                                            <input type="text" class="form-control" id="val8">
                                            <span class="input-group-addon">val9</span>
                                            <input type="text" class="form-control" id="val9">
                                        </div>
                                        <br>
                                        <div class="raw">
                                            <div class="col-xs-8 col-xs-offset-2">
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-info" id="add-new-step-btn">新建</button>
                                                    <button type="button" class="btn btn-success" id="change-new-step-btn">修改</button>
                                                    <button type="button" class="btn btn-danger" id="del-new-step-btn">删除</button>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <label for="message-text" class="control-label">帧结构:</label>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#set-func-msg" aria-expanded="true">
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"> 行为模式</span>
                                </a>
                            </h4>
                        </div>
                        <div id="set-func-msg" class="panel-collapse collapse " role="tabpanel">
                            <div class="panel-body" id='set-func-panel'>
                                <div class="raw">
                                    <div class='col-xs-6'>
                                        <div class="input-group input-group">
                                            <span class="input-group-addon">动作名称</span>
                                            <input type="text" class="form-control" id="func-input-name">
                                        </div>
                                        <br>
                                        <p>
                                            <strong>创建时间: </strong>
                                            <nobr id='func-creat-time'></nobr>
                                        </p>
                                        <br>
                                        <div class="input-group input-group">
                                            <span class="input-group-addon">动作 id</span>
                                            <input type="text" class="form-control" id="func-input-id">
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label for="message-text" class="control-label">帧格式设置:</label>
                                            <textarea class="form-control" id="func-frameset-text"></textarea>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label for="message-text" class="control-label">动作信息:</label>
                                            <textarea class="form-control" id="func-message-text"></textarea>
                                        </div>
                                    </div>
                                    <div class='col-xs-6'>
                                        <div class="raw">
                                            <div class="col-xs-8 col-xs-offset-2">
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-info" id="add-new-func-btn">新建</button>
                                                    <button type="button" class="btn btn-success" id="change-new-func-btn">修改</button>
                                                    <button type="button" class="btn btn-danger" id="del-new-func-btn">删除</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="bugmanage-scroll-showeditresult" id="show-task-every-step">
                    <div class="panel panel-default"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/jquery-1.9.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/jquery.cookie.js"></script>
    <script src="/static/bug_manage.js"></script>
    <script>
        window.onload = bug_manage_init;
    </script>
</body>

</html>