<!DOCTYPE HTML>
<html dir="ltr" lang="en-US">

<head>
    <script type="text/javascript" src="/static/jquery-1.9.1.min.js">
    </script>
    <script type="text/javascript">
        var wsUri = "ws://127.0.0.1:8000/websocket/webcomm/"
        function init_websocket() {
            ws = new WebSocket(wsUri)
            ws.onopen = function () {
                // Web Socket is connected, send data using send()
                ws.send("Message to send");
                alert("Message is sent...");
            };
            ws.onmessage = function (evt) {
                var received_msg = evt.data;
                //alert("Message is received...");
                $("#recv_data").html(received_msg)
            };
            ws.onclose = function () {
                // websocket is closed.
                alert("Connection is closed...");
            };
            ws.onerror = function(){
                $("#recv_data").html("ERROR:disconnected")
            }
        }
        $(document).ready(init_websocket);
    </script>
</head>

<body>
    <h1>连接状态： {{ status }}</h1>
    <h2>当前ip：{{ ipaddr }}</h2>
    <h2>当前串口：{{ com_id }}</h2>

    <form action="/userpage/send/">
        <br>输入数据:</br>
        <input type="text" name="serial_data" value="" />
        <br>
        <input type="submit" name="submit" value="发送" />
    </form>
    <br>获取串口数据:</br>
    <h2 id="recv_data"></h2>
</body>

</html>