<!-- navigation bar -->
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <font size="6">欢迎{{ username }}！</font>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/bug_manage/index/">
                        <font size="4">首页</font>
                    </a>
                </li>
                <li>
                    <a href="/bug_manage/manage/">
                        <font size="4">任务管理</font>
                    </a>
                </li>
                <li>
                    <a href="/bug_manage/userhelp/">
                        <font size="4">使用教程</font>
                    </a>
                </li>
                <li>
                    <a href="/bug_manage/download/">
                        <font size="4">软件下载</font>
                    </a>
                </li>
                <li>
                    <a href="/production_record/record/">
                        <font size="4">生产管理</font>
                    </a>
                </li>
            </ul>

            <!-- <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Bug Quick Search">
                </div>
                <button type="submit" class="btn btn-success">搜索</button>
            </form> -->
        </div>
    </div>
</nav>